@charset "UTF-8";

@font-face {
    font-family: 'Roboto';
    src: local("Roboto"), local("Roboto-Regular"), url('/portfolio/fonts/Roboto-Regular.woff2') format('woff2'),
        url('/portfolio/fonts/Roboto-Regular.woff') format('woff'),
        url('/portfolio/fonts/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

:root {
    --main-bg-color: #fffffa;
    /*     --main-bg-color: #100e17; */
    --main-txt-color: black;
    /*     --main-txt-color: #fffffa; */

    --main-icon-color: black;
    /*     --main-icon-color: #fffffa; */


    --main-footer-bg-color: #2e4052;
    /*     --main-footer-bg-color: #09080d; */

    --main-footer-txt-color: #fffffa;

    --main-section-title-color: #999999;

    --main-project-card-bg-color: #fffffa;
    /*     --main-project-card-bg-color:#17141d; */

    --main-project-button-bg-color: #fffffa;
    /*     --main-project-button-bg-color:#281d25; */

    --project-button-color--pink: #b3001b;
    /*     --project-button-color--pink: #e48698; */

    --project-button-color--green: #343e3d;
    /*     --project-button-color--green: #4da27a; */

    --main-nav-border-transprarent: #00000000;

    --main-a-color: black;
    --main-a-color--hover: #b3001b;

    --main-a-outside-color: #ff9800;

    --h3-main-color: #3a3a3a;
    /*    --h3-main-color:#7c7c7c; */

    --submenu-anchor-color: white;



    --project-card-tittle-color--green: #64b194;

    --project-card-tittle-color--pink: #f58e8f;

    --main-wraper-color: black;


}




/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
footer,
header,
hgroup,
menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
g footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Roboto', sans-serif;
    /* color: var(--main-txt-color); */
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*final reset css*/
h1,
h2,
h3,
h4,
p,
li,
label,
figcaption {

    line-height: 1.4;
}

h1 {
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
}

a {
    color: var(--main-a-color);
}

a:hover {
    color: var(--main-a-color--hover);
}

.outside-anchor:hover {
    color: var(--main-a-outside-color);
}


h2,
.section-title__title {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    color: var(--main-txt-color);
}

.section-title__title--white {
    color: #fffffa;
}

.section-title__title--blue {
    color: #637ecf;
}
.section-title__title--orange {
    color: #e29337
}

.section-title__title--pink {
    color: #e48698;
}

.section-title__title--green {
    color: #4da27a;
}


h3 {

    font-style: normal;
    font-weight: 700;
    color: var(--h3-main-color);
}

.section-title__title {
    display: inline-block;
}

@media (max-width:440px) {
    .section-title__title {
        display: block;
    }
}


h3 {
    font-size: 20px;
}

p {
    font-size: 15px;
}

figure {
    margin: 20px 0px;
}

figcaption {
    margin-top: 3px;
    font-size: 14px;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}


nav,
section,
footer {

    padding: 0% 5% 0% 5%;
    box-sizing: border-box;
}

nav,
section {
    margin-bottom: 0px;
}

section {
    clear: both;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.projects {
    margin-top: 40px;
    margin-bottom: 40px;
}

.main-header {
    margin-top: 0;
}

img {
    white-space: pre
}


body {
    background-color: var(--main-bg-color);
}

.post_text_section_two_column {
    color: var(--main-txt-color);
}


.very-important-anchor {
    color: #b3001b;
}

.very-important-anchor:hover {
    color: var(--main-a-outside-color);
}

/*  Mini cv */

.flex-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.sd-card {
    margin: 30px 30px 30px 10px;
    width: 100%;
    flex-basis: 250px;
    flex-grow: 1;
    box-shadow: 0px 5px 7px #fb995e;
    border-radius: 10px 10px 20px 20px;
    background-color: var(--main-project-card-bg-color);
}

.sd-card .testimonial-polygon {
    fill: #e29337;
}

.sd-card--two-sd-cards-inside {
    flex-basis: 400px;
    box-shadow: none;
}


.sd-card__header {
	border-radius: 10px 10px 0px 0px;
	box-sizing: border-box;
	background-color: #2e4052;
	color: white;
	display: flex;
	justify-content: center;
	position: relative;
	height: 65px;
	align-items: center;
}

.sd-card__header-gradient{

    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgb(0, 0, 0) 2%, rgb(61, 46, 31) 81%, rgb(166, 83, 25) 100%);
    border-radius: 10px 10px 0px 0px;
}
.sd-card__upper-title {
    z-index: 1;
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: #e29337;
    border-radius: 10px 10px 0px 0px;
    height: 100%;
    align-items: center;
}

.sd-card--white{
    flex-grow: 1;
    margin: 30px 30px 30px 10px;
    width: 100%;
    box-shadow: none;
}

.sd-card__header--white {
    background-color: transparent;
    border: var(--main-txt-color) 1px dashed;
    color: var(--main-txt-color);
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
}

.sd-card__header-title {
    color: #fffffa;
}

.sd-card__header-title--black {
    color: var(--main-txt-color);
}


.sd-card__body {
    padding: 5%;
    box-sizing: border-box;
    border-radius: 0px 0px 10px 10px;
    min-height: 400px;
}


.sd-card__body--white {
    background-color: var(--main-bg-color);
    border: var(--main-txt-color) 1px dashed;
    color: var(--main-txt-color);
}


.sd-card__body-img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.sd-card__body-img {
    height: 150px;
    border-radius: 50%;
}

.sd-card__body-text,
.sd-card__body-text-anchor {
    margin-bottom: 40px;
    color: var(--main-txt-color)
}

.sd-card__body-text ul {
    padding: 0;
    margin: 0;
}

.sd-card__body-text li {
    padding-left: 4px;
    margin-left: 20px;
    font-size: 15px;
    line-height: 1.4;
}



.sd-card__body-text-anchor:hover {
    color: #ff9800;
}



/* _______________________________ */
.item_container {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    text-decoration: none;

}

.item_container li {
    margin-left: 20px;
}

.item_container ul {
    margin-top: 10px;
}

#useful_table_flex_container {
    margin-top: 20px;
    margin-bottom: 40px;
    color: var(--main-txt-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-basis: 100px;
    border-radius: 10px;
}

#useful_table_flex_container ul {
    width: 200px;
    padding-left: 30px;
}

#useful_table_flex_container li {
    margin-left: 0px;
}







/* Section__title 
   It has got a breadcrumbs next to it.
   
   It looks like this --------->    SectionTitle |  / Previous section
                                                 |   Next section /   
*/

.section-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



.section-title__breadcrumbs {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin-left: 5px;
}

.section-title__breadcrumbs-anchor {
    color: #999999;
    text-decoration-line: none;
}



/* ---------------------------------------------------------------------------------------- */

.button-absolute {
    display: none;
    position: fixed;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px;
    border-radius: 50px;
}

#theme {
    bottom: 105px;
}

#gototop {
    bottom: 60px;
}

#contactButton {

    bottom: 15px;
}

.button-absolute:hover,
.button-absolute:active {
    background-color: #ff9800;
}

 small {
    color: #fffffa;
}


/*       ooooo      ooo       .o.       oooooo     oooo
         `888b.     `8'      .888.       `888.     .8' 
          8 `88b.    8      .8"888.       `888.   .8'  
          8   `88b.  8     .8' `888.       `888. .8'   
          8     `88b.8    .88ooo8888.       `888.8'    
          8       `888   .8'     `888.       `888'     
         o8o        `8  o88o     o8888o       `8'  

 */
nav li {
    list-style: none;
}

nav ul ul {
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: var(--main-txt-color);
}

nav a:hover {
    color: #ff9800;
}

.main-nav {
    width: 100%;
    height: 90px;
    background-color: var(--main-bg-color);
    border-bottom: 1px solid var(--main-nav-border-transprarent);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    box-shadow: 0px 1px 15px 1px;
    text-transform: uppercase;
    transition: 1s;
    z-index: 9999;
}

.main-nav-logo-flex-container {
    display: flex;
    align-items: center;
}

.main-nav-logo-flex-container circle {
    stroke: var(--main-icon-color);
}

.main-nav-logo-flex-container:hover circle {
    stroke: #ff9800;
}


.main-nav-logo-flex-container:hover path {
    fill: #ff9800;
}

.main-nav-logo__icon-container {
    display: inline-block;
}

.main-nav-logo__icon-svg {
    fill: var(--main-icon-color);
    width: 50px;
    height: 50px;
}

.main-nav-logo__icon-svg--circle {
    fill: var(--main-icon-color);

}



.main-nav-logo__text-container {
    display: inline-block;
    height: 52.5px;
    margin-left: 5px;
    text-transform: none;

}

.main-nav-logo__text-p {
    font-size: 12px;
}

.menu-2 {
    display: flex;
    justify-content: flex-end;
    background-color: #e48698;
}

.menu-2+section {
    margin-top: 50px;
}

.menu-2+.main-header {
    margin-top: 0px;
}


.appendice {
    background-color: var(--main-bg-color);
    border-bottom: 1px solid var(--main-txt-color);
    border-left: 1px solid var(--main-txt-color);

    height: 30px;
    width: 100%;
}

.appendice:hover {
    height: 105px;
    transition: ease-in 0.1s;
    border-radius: 0px 0px 0px 10px;
}

.appendice:hover li {
    color: #ff9800;
}

.special-ul {
    margin-top: 3px;
    padding: 0px 5px;
    color: var(--main-txt-color);

}

.fix-color {
    height: 30px;
    width: 3px;
    position: absolute;
    background-color: var(--main-bg-color);
    left: 30px;
    top: 0;
}

.hidden-ul {
    display: none;
    position: absolute;
    margin-top: 5px;

}

.special-li {
    margin-left: 25px;
    list-style-type: circle;
}

.li--current-page {
    color: #ff9800;
}

.li--current-page>a {
    color: #ff9800;
}

.appendice:hover .hidden-ul {
    display: block;
}

.decorative-angle {
    height: 30px;
}

.cls-1 {
    fill: var(--main-bg-color);
}

.cls-3 {
    fill: var(--main-bg-color);
    stroke: var(--main-txt-color);
    stroke-miterlimit: 10;
    stroke-width: 1px;
}

.decorative-angle-2 {
    height: 10px;
}

.svg-2 {
    left: -5px;
    position: absolute;
}

.cls-2 {
    fill: #e48698;
}

.angle-wraper {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    left: calc(100% - 400px);
    right: 0;
    border-top: 1px solid var(--main-wraper-color);
}

.angle-wraper-2 {
    left: calc(100% - 250px);
    transition: ease-in 0.25s;
}


@media (max-width: 642px) {
    .main-nav-logo__text-p {
        display: none;
    }
}


@media (max-width: 325px) {
    .main-nav-logo__icon-svg {
        width: 47px;
    }
}

@media (max-width: 400px) {

    .angle-wraper {
        left: calc(100% - 350px);
    }

    .angle-wraper-2 {
        left: calc(100% - 230px)
    }
}

/* Main nav menu*/

/* Arrow icon below anchor text projects */
.main-nav-menu__level-1-li-icon-below-projects {
    position: absolute;
    z-index: 99999;
    bottom: 10px;
    left: 20px;
}

.main-nav-menu__level-1-li:hover .main-nav-menu__level-1-li-icon-below-projects {
    transition: 250ms ease-in;
    bottom: 5px;
}

.main-nav-menu__level-1-li-icon-below-projects-svg-path {
    fill: var(--main-icon-color);
}

.main-nav-menu__level-1-li:hover .main-nav-menu__level-1-li-icon-below-projects-svg-path {
    fill: #ff9800;
}

.main-nav-menu__level-1-ul {
    display: flex;
    flex-basis: 390px;
    flex-direction: row;
    position: relative;

}

/* Needed to display correctly the icon >> below projects anchor*/
.main-nav-menu__level-1-ul {
    margin: 0;
    padding: 0;
}

.main-nav-menu__level-1-li-anchor:hover {
    color: #ff9800;
}

.main-nav-menu__level-1-li-anchor--current-page {
    color: #ff9800;
}


/* Da una altura de 90px y centra todo el contenido */
.main-nav-menu__level-1-ul {
    width: 150;
    height: 90px;
    align-items: center;
    align-content: center;
}

/* Gives to first levels li a hig of 100% and center them*/
.main-nav-menu__level-1-li {
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;

}

/* Hides level-2-ul  */
.main-nav-menu__level-2-ul {
    display: none;
    position: absolute;

}

/* Hides level-2-submenu-ul */
.main-nav-menu__level-2-sub-menu-ul {
    display: none;
    position: absolute;

}


/* Mouse hover level-1-li shows level-2-ul */
.main-nav-menu__level-1-li:hover>ul {
    display: flex;
    flex-direction: column;
    bottom: -60px;
    margin-left: -40px;
    border: #ff9800 1px solid;
    border-top-color: var(--main-bg-color);
    box-shadow: 0px 7px 10px -3px;

}


/* Cuando se posiciona el mouse encima de un level-1-li otorga una altura y un ancho a los anchor */
.main-nav-menu__level-1-li:hover>ul>li>a {
    float: left;
    width: 130px;
    height: 30px;
    line-height: 1.4;
    box-sizing: border-box;
    padding: 5px;
    background: var(--main-bg-color);

}


/* Cuando se posiciona el mouse encima de un level-2-li se muestra el sub-menu-ul */
.main-nav-menu__level-2-li:hover>ul {
    display: inline-block;
    box-sizing: border-box;
    border: #ff9800 3px solid;


}


/* Cuando se posiciona el mouse encima de un level-2-li se muestra el sub-menu-ul y se le otorga a los anchor apariencia */
/* .main-nav-menu__level-2-li:hover>ul>li>a {
    display: block;
    width: 150px;
    height: auto;
    line-height: 1.4;
    box-sizing: border-box;
    padding: 5px;
    background-color: #ff9800;
    color: black;
}

.main-nav-menu__level-1-li:hover>ul>li:hover>a {
    background-color: #ff9800;
    color: #ffffff;
}


.main-nav-menu__level-2-sub-menu-li:hover>a:hover {
    color: var(--submenu-anchor-color);
}


.main-nav-menu__level-2-li-animated-arrow {
    position: relative;
    left: 6px;
    transition: left 250ms ease-in;
}

.main-nav-menu__level-2-li:hover .main-nav-menu__level-2-li-animated-arrow {
    left: 20px;
} */


/* Contact icon displayed on  screen */
.main-nav-menu__level-1-contact-icon-svg {
    display: none;
}

.main-nav-menu__level-1-contact-icon-svg>path {
    fill: var(--main-icon-color);
}

.main-nav-menu__level-1-contact-icon-svg:hover>path {
    fill: #ff9800;
}

@media (max-width: 550px) {
    .main-nav-menu__level-1-contact-icon-svg {
        display: block;
    }
}

@media (max-width: 550px) {
    .main-nav-menu__level-1-contact-anchor {
        display: none;
    }
}

.special-li a:hover {
    color: var(--main-a-outside-color);
}


/* _________________________________________________________________________________ */


/* .oooooo.                                    .o8   o8o              
            d'     `b                                   "888   `"'            
           d' .d"bd  8 ooo. .oo.  .oo.    .ooooo.   .oooo888  oooo   .oooo.   
           8  8. 8  .d `888P"Y88bP"Y88b  d88' `88b d88' `888  `888  `P  )88b  
           Y.  YoP"b'   888   888   888  888ooo888 888   888   888   .oP"888  
            8.      .8  888   888   888  888    .o 888   888   888  d8(  888  
             YooooooP  o888o o888o o888o `Y8bod8P' `Y8bod88P" o888o `Y888""8o  */




@media (max-width: 550px) {
    .main-nav-menu__level-1-li:hover>ul {
        width: 100px;
    }
}

@media (max-width: 550px) {
    .main-nav-menu__level-1-li:hover>ul>li>a {
        width: 100px;
    }
}

@media (max-width: 550px) {
    .main-nav-menu__level-2-li:hover .main-nav-menu__level-2-li-animated-arrow {
        left: 6px;
        transition: none;
    }
}

@media (max-width: 550px) {
    .main-nav-menu__level-2-li:hover>ul>li>a {
        width: 100px;
    }
}



/* ___A_new_section_starts_____________________________________________________________________________________ */
/* ___________________________________________________________________________________________________________ */
/* __________________________________________________________________________________________________________ */



/* MAIN
ooooo   ooooo oooooooooooo       .o.       oooooooooo.   oooooooooooo ooooooooo.  
`888'   `888' `888'     `8      .888.      `888'   `Y8b  `888'     `8 `888   `Y88.
 888     888   888             .8"888.      888      888  888          888   .d88'
 888ooooo888   888oooo8       .8' `888.     888      888  888oooo8     888ooo88P' 
 888     888   888    "      .88ooo8888.    888      888  888    "     888`88b.   
 888     888   888       o  .8'     `888.   888     d88'  888       o  888  `88b. 
o888o   o888o o888ooooood8 o88o     o8888o o888bood8P'   o888ooooood8 o888o  o888o
*/

/* 
 _____.main-header-flex-container____________________________________________________________________
|                                                 |                            |                    |
|       .main_header_left_div                     |  .main-header-center-div   |.main-header-right-div 
|                                                 |                            |                    |
|    -.main-header-flex-container-left-div-child_child-introtext--             |                    |
|    |                                         |  |                            |                    |
|    |   H1-> UX DESIGNER PORTFOLIO            |  |                            |                    |
|    |    p-> Hi! I expect that if you are     |  |      has a background      |                    |
|    |        here you probably know me....    |  |      img;                  |                    |
|    |                                         |  |                            |                    |
|    |                                         |  |                            |                    |
|    |                                         |  |                            |                    |
|    -------------------------------------------  |                            |                    |
|                                                 |                            |                    |
|                                                 |                            |      has a logo    |
|                                                 |           *>>              |      at bottom     |
|___________________________________________________________________________________________________|
|                                                                                                   |                       
|            .main-header_bottom_div_icon  has a  svg *>> icon, animation; position absolute;       |
|___________________________________________________________________________________________________|

 */
.main-header {
    height: 430px;
    background-color: #e48698;
}

.main-header-flex-container {
    display: flex;
    flex-direction: row;
}

/* ________________________________ */



.main-header-flex-container-left-div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 850px;
    padding: 5%;
    box-sizing: border-box;
}

.main-header-flex-container-left-div-child-textbox {
    border: #b3001b 3px inset;
    background-color: #00000025;
    border-radius: 10px;
    padding: 5%;
    box-sizing: border-box;
}

.main-header-flex-container-left-div-child__text-title {
    color: #b3001b;
    letter-spacing: 1px;
    line-height: 1.4;
}

.main-header-flex-container-left-div-child__text-body {
    font-size: 15px;
    line-height: 1.4;
    color: #fffffa;
}


.main-header__bottom-button-anchor {
    text-decoration-line: none;
    -moz-text-decoration-line: none;
}

.main-header__bottom-button-text {
    color: #fffffa;
    text-decoration-line: none;
    -moz-text-decoration-line: none;
}



.main-header__bottom-div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.main-header__bottom-button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #FAC145;
}

.main-header__bottom-button-text {
    color: black;

}


.main-header__bottom-button:hover {
    background-color: #1F3E38;
}

.main-header__bottom-button:hover>.main-header__bottom-button-text {
    color: white;

}


.main-header-center-div {
    background-image: url("img/home_header_background.jpg");
    background-color: #e48698;
    background-size: cover;
    height: 430px;
    width: 408px;
    transition: 5s;
}

.main-header-right-div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 430px;
    width: auto;
}

.main-header-right-div-child-logo-container {
    z-index: 1;
}

.main-header-right-div-child-logo-container__svg-logo {
    max-width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px 10px 10px 10px;
}



.main-header-bottom-div {
    display: flex;
    justify-content: center;

}

.main-header-bottom-div-arrow-icon-container {
    position: absolute;
    margin-top: -40px;
    animation: bounce 1s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(1, 0.5, 0.5, 1);
    animation-iteration-count: infinite;

}

.main-header-bottom-div-arrow-icon-container:hover .main-header-bottom-div-arrow-icon--red-mobile-device {
    fill: var(--main-a-color--hover);
}

@keyframes bounce {
    from {
        transform: translate3d(0, -25px, 0);
    }

    to {
        transform: translate3d(0, -12px, 0);
    }
}

/* _________________________________________________________________________________ */


/* .oooooo.                                    .o8   o8o              
            d'     `b                                   "888   `"'            
           d' .d"bd  8 ooo. .oo.  .oo.    .ooooo.   .oooo888  oooo   .oooo.   
           8  8. 8  .d `888P"Y88bP"Y88b  d88' `88b d88' `888  `888  `P  )88b  
           Y.  YoP"b'   888   888   888  888ooo888 888   888   888   .oP"888  
            8.      .8  888   888   888  888    .o 888   888   888  d8(  888  
             YooooooP  o888o o888o o888o `Y8bod8P' `Y8bod88P" o888o `Y888""8o  */



/*.main-header-left-div*/
@media (max-width:649px) {
    .main-header {
        padding: 0;
    }
}

@media (max-width:670px) {
    .main-header-flex-container-left-div {
        background-image: url("img/home_header_background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-color: transparent;
    }
}

@media (max-width:400px) {
    .main-header-flex-container-left-div {
        background-image: none;
    }
}


@media (max-width: 670px) {
    .main-header-flex-container-left-div-child-textbox {

        background-color: #0000009b;
        box-sizing: border-box;

    }
}

@media (max-width: 670px) {

    .main-header-flex-container-left-div-child__text-title {
        color: #fffffa;
    }
}


/*.main-header-center-div*/
@media (max-width:670px) {
    .main-header-center-div {
        display: none;
    }
}




/*.main-header-right-div*/
@media (max-width:842px) {
    .main-header-right-div {
        width: auto;
    }
}

@media (max-width:842px) {
    .main-header-right-div-child-logo-container {
        display: none;
    }
}


/*.main-header-bottom-div*/

@media (max-width: 670px) {
    .main-header-bottom-div-arrow-icon--red-mobile-device {
        fill: #b3001b;
    }
}

/* ___A_new_section_starts_____________________________________________________________________________________ */
/* ___________________________________________________________________________________________________________ */
/* __________________________________________________________________________________________________________ */


/* 
ooooooooo.   ooooooooo.   oooooooooooo  .oooooo..o oooooooooooo ooooo      ooo ooooooooooooo
`888   `Y88. `888   `Y88. `888'     `8 d8P'    `Y8 `888'     `8 `888b.     `8' 8'   888   `8
 888   .d88'  888   .d88'  888         Y88bo.       888          8 `88b.    8       888     
 888ooo88P'   888ooo88P'   888oooo8     `"Y8888o.   888oooo8     8   `88b.  8       888     
 888          888`88b.     888    "         `"Y88b  888    "     8     `88b.8       888     
 888          888  `88b.   888       o oo     .d8P  888       o  8       `888       888     
o888o        o888o  o888o o888ooooood8 8""88888P'  o888ooooood8 o8o        `8      o888o    
*/
/* Intro section */




@media (max-width: 644px) {

    .sd-card__body--black,
    .sd-card__body--green,
    .sd-card__body--white {
        min-height: 0;
    }
}


@media (min-width: 967px) and (max-width: 1290px) {
    #info-sd-card .sd-card__body {
        min-height: 0px;
        padding: 2%;
    }
}

@media (max-width: 994px) {
    #about_me .sd-card__body {
        min-height: 0px;
    }
}

@media (min-width: 995px) {
    #about_me .sd-card__body {
        min-height: 330px;
    }
}


/* 
ooooooooooooo oooooooooooo  .oooooo..o ooooooooooooo ooooo ooo        ooooo   .oooooo.  
8'   888   `8 `888'     `8 d8P'    `Y8 8'   888   `8 `888' `88.       .888'  d8P'  `Y8b 
     888       888         Y88bo.           888       888   888b     d'888  888      888
     888       888oooo8     `"Y8888o.       888       888   8 Y88. .P  888  888      888
     888       888    "         `"Y88b      888       888   8  `888'   888  888      888
     888       888       o oo     .d8P      888       888   8    Y     888  `88b    d88'
    o888o     o888ooooood8 8""88888P'      o888o     o888o o8o        o888o  `Y8bood8P' 
*/

/* Testimonials*/

.main-gallery {
    height: auto;
}

.testimonial {
    width: 300px;
    min-height: 305px;
    margin: 15px 10px;
    font-size: 15px;
    box-shadow: 0px 5px 7px #6149b4;
    background-color: var(--main-project-card-bg-color);
    color: var(--main-txt-color);
    box-sizing: border-box;
    border-radius: 10px;
    display: inline-block;
}

@media (max-width:500px) {
    .testimonial {
        width: 80%;
        min-height: 370px;
    }

}

.testimonial-header-container {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    background-color: #637ecf;
    max-height: 93px;
    border-radius: 10px 10px 0px 0px;
    color: #000;
}

.testimonial-polygon {
    fill: #637ecf;
}

.testimonial-header-container__gradient-background {
    position: absolute;
    z-index: 1;
    height: 93px;
    top: 0;
    right: 0px;
    width: 42%;
    border-top-right-radius: 10px;

    background: rgba(99, 126, 207, 1);
    background: -moz-linear-gradient(-45deg, rgba(99, 126, 207, 1) 0%, rgba(99, 126, 207, 1) 42%, rgba(3, 6, 66, 1) 44%, rgba(3, 6, 66, 1) 46%, rgba(3, 6, 66, 1) 48%, rgba(77, 97, 161, 1) 56%, rgba(99, 126, 207, 1) 58%, rgba(3, 6, 66, 1) 61%, rgba(3, 6, 66, 1) 63%, rgba(3, 6, 66, 1) 66%, rgba(77, 97, 161, 1) 76%, rgba(99, 126, 207, 1) 77%, rgba(3, 6, 66, 1) 79%, rgba(3, 6, 66, 1) 80%, rgba(3, 6, 66, 1) 80%, rgba(3, 6, 66, 1) 83%, rgba(65, 82, 135, 1) 88%, rgba(99, 126, 207, 1) 89%, rgba(99, 126, 207, 1) 89%, rgba(99, 126, 207, 1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(99, 126, 207, 1)), color-stop(42%, rgba(99, 126, 207, 1)), color-stop(44%, rgba(3, 6, 66, 1)), color-stop(46%, rgba(3, 6, 66, 1)), color-stop(48%, rgba(3, 6, 66, 1)), color-stop(56%, rgba(77, 97, 161, 1)), color-stop(58%, rgba(99, 126, 207, 1)), color-stop(61%, rgba(3, 6, 66, 1)), color-stop(63%, rgba(3, 6, 66, 1)), color-stop(66%, rgba(3, 6, 66, 1)), color-stop(76%, rgba(77, 97, 161, 1)), color-stop(77%, rgba(99, 126, 207, 1)), color-stop(79%, rgba(3, 6, 66, 1)), color-stop(80%, rgba(3, 6, 66, 1)), color-stop(80%, rgba(3, 6, 66, 1)), color-stop(83%, rgba(3, 6, 66, 1)), color-stop(88%, rgba(65, 82, 135, 1)), color-stop(89%, rgba(99, 126, 207, 1)), color-stop(89%, rgba(99, 126, 207, 1)), color-stop(100%, rgba(99, 126, 207, 1)));
    background: -webkit-linear-gradient(-45deg, rgba(99, 126, 207, 1) 0%, rgba(99, 126, 207, 1) 42%, rgba(3, 6, 66, 1) 44%, rgba(3, 6, 66, 1) 46%, rgba(3, 6, 66, 1) 48%, rgba(77, 97, 161, 1) 56%, rgba(99, 126, 207, 1) 58%, rgba(3, 6, 66, 1) 61%, rgba(3, 6, 66, 1) 63%, rgba(3, 6, 66, 1) 66%, rgba(77, 97, 161, 1) 76%, rgba(99, 126, 207, 1) 77%, rgba(3, 6, 66, 1) 79%, rgba(3, 6, 66, 1) 80%, rgba(3, 6, 66, 1) 80%, rgba(3, 6, 66, 1) 83%, rgba(65, 82, 135, 1) 88%, rgba(99, 126, 207, 1) 89%, rgba(99, 126, 207, 1) 89%, rgba(99, 126, 207, 1) 100%);
    background: -o-linear-gradient(-45deg, rgba(99, 126, 207, 1) 0%, rgba(99, 126, 207, 1) 42%, rgba(3, 6, 66, 1) 44%, rgba(3, 6, 66, 1) 46%, rgba(3, 6, 66, 1) 48%, rgba(77, 97, 161, 1) 56%, rgba(99, 126, 207, 1) 58%, rgba(3, 6, 66, 1) 61%, rgba(3, 6, 66, 1) 63%, rgba(3, 6, 66, 1) 66%, rgba(77, 97, 161, 1) 76%, rgba(99, 126, 207, 1) 77%, rgba(3, 6, 66, 1) 79%, rgba(3, 6, 66, 1) 80%, rgba(3, 6, 66, 1) 80%, rgba(3, 6, 66, 1) 83%, rgba(65, 82, 135, 1) 88%, rgba(99, 126, 207, 1) 89%, rgba(99, 126, 207, 1) 89%, rgba(99, 126, 207, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(99, 126, 207, 1) 0%, rgba(99, 126, 207, 1) 42%, rgba(3, 6, 66, 1) 44%, rgba(3, 6, 66, 1) 46%, rgba(3, 6, 66, 1) 48%, rgba(77, 97, 161, 1) 56%, rgba(99, 126, 207, 1) 58%, rgba(3, 6, 66, 1) 61%, rgba(3, 6, 66, 1) 63%, rgba(3, 6, 66, 1) 66%, rgba(77, 97, 161, 1) 76%, rgba(99, 126, 207, 1) 77%, rgba(3, 6, 66, 1) 79%, rgba(3, 6, 66, 1) 80%, rgba(3, 6, 66, 1) 80%, rgba(3, 6, 66, 1) 83%, rgba(65, 82, 135, 1) 88%, rgba(99, 126, 207, 1) 89%, rgba(99, 126, 207, 1) 89%, rgba(99, 126, 207, 1) 100%);
    background: linear-gradient(135deg, rgba(99, 126, 207, 1) 0%, rgba(99, 126, 207, 1) 42%, rgba(3, 6, 66, 1) 44%, rgba(3, 6, 66, 1) 46%, rgba(3, 6, 66, 1) 48%, rgba(77, 97, 161, 1) 56%, rgba(99, 126, 207, 1) 58%, rgba(3, 6, 66, 1) 61%, rgba(3, 6, 66, 1) 63%, rgba(3, 6, 66, 1) 66%, rgba(77, 97, 161, 1) 76%, rgba(99, 126, 207, 1) 77%, rgba(3, 6, 66, 1) 79%, rgba(3, 6, 66, 1) 80%, rgba(3, 6, 66, 1) 80%, rgba(3, 6, 66, 1) 83%, rgba(65, 82, 135, 1) 88%, rgba(99, 126, 207, 1) 89%, rgba(99, 126, 207, 1) 89%, rgba(99, 126, 207, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#637ecf', endColorstr='#637ecf', GradientType=1);






}

@media (max-width:400px) {
    .testimonial-header-container__gradient-background {
        display: none;
    }
}

.testimonial-header-container__img {
    border: #2f3049 4px solid;
    background-color: #302b6112;
    margin: 10px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.testimonial-header-container__text {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.testimonial-header-container__text-name {
    font-size: 20px;
    color: #030642;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4;
}

.testimonial-header-container__text-job-position {
    color: #fffffa;
    text-shadow: #000 0px 2px 1px;
}


.testimonial-header-container__flex-container-arrow-down {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -1px;
}


.testimonial-quote {
    font-size: 15pt;
    padding: 5px 20px 15px 20px;
    display: block;
    clear: both;
    font-style: italic;
    box-sizing: border-box;
}

.testimonial-fix-for-prev-next-button-on--screen {
    height: 9vh;
    display: none;
}


@media (max-width:500px) {
    .testimonial-fix-for-prev-next-button-on--screen {
        display: block;
    }
}

@media (max-width:350px) {
    .testimonial-text-fix-350 {
        display: none;
    }
}

@media (max-width:290px) {
    .testimonial-text-fix-short-surnames {
        display: block;
    }
}


/* ___A_new_section_starts_____________________________________________________________________________________ */
/* ___________________________________________________________________________________________________________ */
/* __________________________________________________________________________________________________________ */


/* UX PROJECTS */

.project-cards-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 400px;
    flex: 1;
    flex-basis: 50px;
}

.project-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
    border-bottom: none;
    background-color: var(--main-project-card-bg-color);
    color: var(--main-txt-color);
    z-index: 0;
}

.project-card-container a {
    color: var(--main-txt-color);
}


.project-card-container--pink {
    box-shadow: 0px 5px 7px #f05d5e;
    border-radius: 20px 70px 20px 20px;

}

.project-card-container--green {
    box-shadow: 0px 5px 7px #38e4a3;
    border-radius: 20px 70px 20px 20px;

}

/* _____________________________________________________ */
@media (max-width:1035px) and (min-width:550px) {

    .project-card-container--pink,
    .project-card-container--green {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-start;
        border-radius: 20px 60px 20px 71px;
    }
}

@media (max-width:550px) {

    .project-card-container--pink,
    .project-card-container--green {
        margin: 20px 10%;
    }
}

.project-card__header {
    position: relative;
    width: 250px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 188px 188px 190px;
}

.project-card__header--pink {
    background-color: #e48698;
}

.project-card__header--green {
    background-color: #4da27a;
}

.project-card__header-img {
    border-radius: 50%;
    border: #fffffa 10px solid;
    background-color: #fffffa;
    width: 150px;
    height: 150px;
}


.project-card__header-background-gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 20px 70px 70px 70px;
}


.project-card__header-background-gradient--pink {

    background: #e48698;
    background: -moz-radial-gradient(center, ellipse cover, rgba(228, 134, 151, 1) 0%, rgba(228, 134, 151, 1) 65%, rgba(0, 0, 17, 1) 68%, rgba(228, 134, 151, 1) 87%, rgba(0, 0, 17, 1) 91%, rgba(0, 0, 17, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(228, 134, 151, 1)), color-stop(65%, rgba(228, 134, 151, 1)), color-stop(68%, rgba(0, 0, 17, 1)), color-stop(87%, rgba(228, 134, 151, 1)), color-stop(91%, rgba(0, 0, 17, 1)), color-stop(100%, rgba(0, 0, 17, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(228, 134, 151, 1) 0%, rgba(228, 134, 151, 1) 65%, rgba(0, 0, 17, 1) 68%, rgba(228, 134, 151, 1) 87%, rgba(0, 0, 17, 1) 91%, rgba(0, 0, 17, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(228, 134, 151, 1) 0%, rgba(228, 134, 151, 1) 65%, rgba(0, 0, 17, 1) 68%, rgba(228, 134, 151, 1) 87%, rgba(0, 0, 17, 1) 91%, rgba(0, 0, 17, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(228, 134, 151, 1) 0%, rgba(228, 134, 151, 1) 65%, rgba(0, 0, 17, 1) 68%, rgba(228, 134, 151, 1) 87%, rgba(0, 0, 17, 1) 91%, rgba(0, 0, 17, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(228, 134, 151, 1) 0%, rgba(228, 134, 151, 1) 65%, rgba(0, 0, 17, 1) 68%, rgba(228, 134, 151, 1) 87%, rgba(0, 0, 17, 1) 91%, rgba(0, 0, 17, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e48697', endColorstr='#000011', GradientType=1);

}

.project-card__header-background-gradient--green {
    background: #4da27a;
    background: -moz-radial-gradient(center, ellipse cover, rgba(77, 162, 122, 1) 0%, rgba(77, 162, 122, 1) 65%, rgba(0, 0, 17, 1) 68%, rgba(77, 162, 122, 1) 87%, rgba(0, 0, 17, 1) 91%, rgba(0, 0, 17, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(77, 162, 122, 1)), color-stop(65%, rgba(77, 162, 122, 1)), color-stop(68%, rgba(0, 0, 17, 1)), color-stop(87%, rgba(77, 162, 122, 1)), color-stop(91%, rgba(0, 0, 17, 1)), color-stop(100%, rgba(0, 0, 17, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(77, 162, 122, 1) 0%, rgba(77, 162, 122, 1) 65%, rgba(0, 0, 17, 1) 68%, rgba(77, 162, 122, 1) 87%, rgba(0, 0, 17, 1) 91%, rgba(0, 0, 17, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(77, 162, 122, 1) 0%, rgba(77, 162, 122, 1) 65%, rgba(0, 0, 17, 1) 68%, rgba(77, 162, 122, 1) 87%, rgba(0, 0, 17, 1) 91%, rgba(0, 0, 17, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(77, 162, 122, 1) 0%, rgba(77, 162, 122, 1) 65%, rgba(0, 0, 17, 1) 68%, rgba(77, 162, 122, 1) 87%, rgba(0, 0, 17, 1) 91%, rgba(0, 0, 17, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(77, 162, 122, 1) 0%, rgba(77, 162, 122, 1) 65%, rgba(0, 0, 17, 1) 68%, rgba(77, 162, 122, 1) 87%, rgba(0, 0, 17, 1) 91%, rgba(0, 0, 17, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4da27a', endColorstr='#000011', GradientType=1);
}


.project-card__header-curved-text {
    width: 210px;
    height: 210px;
    position: absolute;
    z-index: 2;
}

textPath {
    font-size: 12px;
    fill: #fffffa;
    font-style: normal;
    font-weight: 200px;
}


.project-card__header-cover--active {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 43px;

}

.project-card__header-cover--no-active {
    display: none
}



.project-card__header-cover--active--green {
    background-color: #4da27acc;
    border: solid #fffffa 1px;
}

.project-card__header-cover--active--pink {
    background-color: #e48697cc;
    border: solid #fffffa 1px;

}

.project-card__header-cover-wave--no-active {
    display: none;
}

.project-card__header-cover-wave--active {
    background-color: #fffffa80;
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    -webkit-animation: pulse 3s infinite both;
    animation: pulse 3s infinite both;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.0);
        transform: scale(0.0);
        opacity: 0.4;
    }

    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0.0);
        transform: scale(0.0);
        opacity: 0.4;
    }

    80% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(2.2);
        transform: scale(2.2);
        opacity: 0;
    }
}

.project-card__header-cover-text {
    font-size: 17px;
    color: white;
}

.project-card__body-text {
    max-width: 250px;
    margin-top: 0px;
    padding: 0% 10% 5% 10%;
    box-sizing: border-box;

}
.project-card-container--pink .project-card__body-text :nth-child(3){
    margin-bottom: 7px;
}

.project-card__body-text p b{
    color:#4e74cf;
}

.project-card-container .project-card__button-card{
    margin: 3px 0px 10px 0px;
}


@media (max-width:1035px) {
    .project-card__body-text {
        margin-top: 10px;
        box-sizing: border-box;
        min-width: 250px;
    }
}


.project-card__arrow-down-container

/* Remember that arrow down container has a svg with a polygon fill property at the html code */
    {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -2px;

}

@media (max-width:1035px) and (min-width:550px) {
    .project-card__arrow-down-container {
        height: 100%;
        align-items: center;
        justify-content: flex-start;
        margin-top: 0px;
    }

    .project-card__arrow-down-container-for-rotation {
        transform: rotate(-90deg);
        margin-left: -16px;
    }

    .project-card-container .project-card__button-card{
        margin: 8px 0px 0px 0px;
    }
    .project-card__body-text{
    padding: 0% 10% 2% 10%;
    }
}

.project-card__body-flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding-bottom: 10px;
}

.project-card__body-text-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px 10px 0px;
}


.project-card__button-card {
    padding: 5%;
    width: 100px;
    border-radius: 50px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: var(--main-project-button-bg-color);
    transition: linear 0.2s;
    transition-property: transform;
}



.project-card__button-card--pink {
    border: #e48698 2px solid;
    color: var(--project-button-color--pink);
}





.project-card__button-card--pink:hover {
    color: #fffffa;
    background-color: #e48698;
    border: #e48698 2px solid;
}


.project-card__button-card--green {
    border: #4da27a 2px solid;
    color: var(--project-button-color--green);
}

.project-card__button-card--green:hover {
    color: #fffffa;
    background-color: #4da27a;
    border: #4da27a 2px solid;
}

.project-card__button-card--test {
    flex-direction: row;
    width: 170px;
    padding: 5px;
    border: #637ecf 2px solid;
    color: var(--main-txt-color);
    cursor: pointer;
}

.project-card__button-card--test:hover {
    color: #fffffa;
    background-color: #637ecf;
    border: #637ecf 2px solid;
}

.project-card__body-text-url {
    text-decoration: none;

}

.project-card__body-text-url--no-active {
    color: #000;
}

.project-card__button-card--no-active {
    cursor: not-allowed;
}

.project-card__button-card--no-active,
.project-card__button-card--no-active:hover {
    background-color: #7f7f7f;
    color: white;
}

.project-card-container--green .project-card__body-text-title h3 {
    color: var(--project-card-tittle-color--green);
}

.project-card-container--pink .project-card__body-text-title h3 {
    color: var(--project-card-tittle-color--pink);
}

.project-card__body-text-title:hover h3 {
    color: var(--main-a-outside-color);
}


.project-card__body-text-title--no-active h3,
.project-card__body-text-title--no-active:hover h3 {
    color: #7f7f7f !important;
}

.project-card__body-text-title--no-active {
    cursor: not-allowed;
}
.project-card__body-text-url--no-active ~ p {
    opacity: 50%;
}

.project-card__body-text-url--no-active ~ p b {
    color: var(--main-txt-color) !important;
}

.project-card__button-card--pink:active,
.project-card__button-card--green:active{
    transform:scale(0.9,0.9)
}





/* Post column section */



.post_text_section_two_column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.post_text_column {
    margin: 10px 20px;
    flex: 1;
    flex-basis: 400px;
}

.post_text_column p {
    margin-bottom: 15px;
}

.post_text_column h3 {
    margin-bottom: 7px;
}


.post_text_column li {
    margin-bottom: 5px;
    font-size: 15px;
}

.post_text_column img {
    width: 100%;
    border-radius: 10px;
}

.post_text_column .post-img--default{
    width: 353px;
}

.post-img--smartphone-screen{
border-radius: 0px !important;
}
.post-img--353px{
    width: 353px !important;
}

@media screen and (max-width:450px) {
    .post-img--353px,
    .post_text_column .post-img--default{
        width: 100% !important;
    }
    .post_text_column img{
        width: 100%;
    }
}

@media screen and (min-width:450px) and (max-width:700px) {
    .post-img--353px,
    .post_text_column .post-img--default{
        width: 60% !important;
    }
    .post_text_column .post-img--smartphone-screen{
        width: none;
    }

    .post_text_column img{
        width: 100%;
    }
}

@media screen and (min-width:700px) and (max-width:995px) {
    .post_text_column .post-img--default{
        width: 45% !important;
    }
    .post_text_column .post-img--smartphone-screen{
        width: none !important;
    }

    .post_text_column img {
        width: 80%;
    }

}




.flex_container_for_project_and_downloable_archive {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}


.flex_container_for_project_post_card_and_title_h1_post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 500px;
}

.post-wrap {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.post_text_button_container a {
    text-decoration-line: none;
}

.post_text_button_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 20px 20px 50px 20px;
    align-items: center;
    flex: 1;
}


.project-card__button-card--project {
    padding: 10px;
}

.post-text-button-container__info {
    margin-top: 5px;
    color: var(--main-txt-color);
}



.title_h1_post {
    display: inline-block;
    color: var(--main-txt-color);
    margin-bottom: 50px;
}

.title_h1_post--green {
    color: var(--project-card-tittle-color--green);
}

.title_h1_post--pink {
    color: var(--project-card-tittle-color--pink);
}

.project_post_card_container_green {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    flex-wrap: wrap;
    margin: 20px;
    box-shadow: 0px 5px 7px #38e4a3;
    border-radius: 20px 70px 70px 70px;
    border-bottom: none;
    z-index: -1;
}

.project_post_card-circle_div_green {
    position: relative;
    max-width: 250px;
    height: 240px;
    width: 100%;
    height: 240px;
    background-color: #4da27a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 188px 188px 190px;

}

.project_post_card-circle_div_green>div>img,
.project_post_card-circle_div_red>div>img {
    border-radius: 50%;
    border: #fffffa 10px solid;
    background-color: #fffffa;
}


.project_post_card_container_red {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
    flex-wrap: wrap;
    margin: 20px;
    box-shadow: 0px 5px 7px #f05d5e;
    border-radius: 20px 70px 70px 70px;
    border-bottom: none;
    z-index: -1;
}

.svg-icon-download {
    fill: var(--main-txt-color);
}


.project_post_card-circle_div_red {
    position: relative;
    max-width: 250px;
    height: 240px;
    width: 100%;
    height: 240px;
    background-color: #e48698;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 188px 188px 190px;
}


.project_post_background-gradient_green_div {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: rgba(0, 0, 17, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 17, 1) 0%, rgba(77, 162, 122, 1) 12%, rgba(0, 0, 17, 1) 24%, rgba(77, 162, 122, 1) 35%, rgba(0, 0, 17, 1) 54%, rgba(77, 162, 122, 1) 65%, rgba(0, 0, 17, 1) 68%, rgba(77, 162, 122, 1) 87%, rgba(0, 0, 17, 1) 91%, rgba(0, 0, 17, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 17, 1)), color-stop(12%, rgba(77, 162, 122, 1)), color-stop(24%, rgba(0, 0, 17, 1)), color-stop(35%, rgba(77, 162, 122, 1)), color-stop(54%, rgba(0, 0, 17, 1)), color-stop(65%, rgba(77, 162, 122, 1)), color-stop(68%, rgba(0, 0, 17, 1)), color-stop(87%, rgba(77, 162, 122, 1)), color-stop(91%, rgba(0, 0, 17, 1)), color-stop(100%, rgba(0, 0, 17, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 17, 1) 0%, rgba(77, 162, 122, 1) 12%, rgba(0, 0, 17, 1) 24%, rgba(77, 162, 122, 1) 35%, rgba(0, 0, 17, 1) 54%, rgba(77, 162, 122, 1) 65%, rgba(0, 0, 17, 1) 68%, rgba(77, 162, 122, 1) 87%, rgba(0, 0, 17, 1) 91%, rgba(0, 0, 17, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 17, 1) 0%, rgba(77, 162, 122, 1) 12%, rgba(0, 0, 17, 1) 24%, rgba(77, 162, 122, 1) 35%, rgba(0, 0, 17, 1) 54%, rgba(77, 162, 122, 1) 65%, rgba(0, 0, 17, 1) 68%, rgba(77, 162, 122, 1) 87%, rgba(0, 0, 17, 1) 91%, rgba(0, 0, 17, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 17, 1) 0%, rgba(77, 162, 122, 1) 12%, rgba(0, 0, 17, 1) 24%, rgba(77, 162, 122, 1) 35%, rgba(0, 0, 17, 1) 54%, rgba(77, 162, 122, 1) 65%, rgba(0, 0, 17, 1) 68%, rgba(77, 162, 122, 1) 87%, rgba(0, 0, 17, 1) 91%, rgba(0, 0, 17, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 17, 1) 0%, rgba(77, 162, 122, 1) 12%, rgba(0, 0, 17, 1) 24%, rgba(77, 162, 122, 1) 35%, rgba(0, 0, 17, 1) 54%, rgba(77, 162, 122, 1) 65%, rgba(0, 0, 17, 1) 68%, rgba(77, 162, 122, 1) 87%, rgba(0, 0, 17, 1) 91%, rgba(0, 0, 17, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000011', endColorstr='#000011', GradientType=1);
    border-radius: 20px 70px 70px 70px;
}

.project_post_background-gradient_red_div {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: rgba(0, 0, 17, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 17, 1) 0%, rgba(228, 134, 151, 1) 12%, rgba(0, 0, 17, 1) 24%, rgba(228, 134, 151, 1) 35%, rgba(0, 0, 17, 1) 54%, rgba(228, 134, 151, 1) 65%, rgba(0, 0, 17, 1) 68%, rgba(228, 134, 151, 1) 87%, rgba(0, 0, 17, 1) 91%, rgba(0, 0, 17, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0, 0, 17, 1)), color-stop(12%, rgba(228, 134, 151, 1)), color-stop(24%, rgba(0, 0, 17, 1)), color-stop(35%, rgba(228, 134, 151, 1)), color-stop(54%, rgba(0, 0, 17, 1)), color-stop(65%, rgba(228, 134, 151, 1)), color-stop(68%, rgba(0, 0, 17, 1)), color-stop(87%, rgba(228, 134, 151, 1)), color-stop(91%, rgba(0, 0, 17, 1)), color-stop(100%, rgba(0, 0, 17, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 17, 1) 0%, rgba(228, 134, 151, 1) 12%, rgba(0, 0, 17, 1) 24%, rgba(228, 134, 151, 1) 35%, rgba(0, 0, 17, 1) 54%, rgba(228, 134, 151, 1) 65%, rgba(0, 0, 17, 1) 68%, rgba(228, 134, 151, 1) 87%, rgba(0, 0, 17, 1) 91%, rgba(0, 0, 17, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 17, 1) 0%, rgba(228, 134, 151, 1) 12%, rgba(0, 0, 17, 1) 24%, rgba(228, 134, 151, 1) 35%, rgba(0, 0, 17, 1) 54%, rgba(228, 134, 151, 1) 65%, rgba(0, 0, 17, 1) 68%, rgba(228, 134, 151, 1) 87%, rgba(0, 0, 17, 1) 91%, rgba(0, 0, 17, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0, 0, 17, 1) 0%, rgba(228, 134, 151, 1) 12%, rgba(0, 0, 17, 1) 24%, rgba(228, 134, 151, 1) 35%, rgba(0, 0, 17, 1) 54%, rgba(228, 134, 151, 1) 65%, rgba(0, 0, 17, 1) 68%, rgba(228, 134, 151, 1) 87%, rgba(0, 0, 17, 1) 91%, rgba(0, 0, 17, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 17, 1) 0%, rgba(228, 134, 151, 1) 12%, rgba(0, 0, 17, 1) 24%, rgba(228, 134, 151, 1) 35%, rgba(0, 0, 17, 1) 54%, rgba(228, 134, 151, 1) 65%, rgba(0, 0, 17, 1) 68%, rgba(228, 134, 151, 1) 87%, rgba(0, 0, 17, 1) 91%, rgba(0, 0, 17, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000011', endColorstr='#000011', GradientType=1);
    border-radius: 20px 70px 70px 70px;
}

.project_post_arrow-down-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -2px;

}

.project_post_arrow-down-container polygon {
    fill: #4da27a;
}


/* ___A_new_section_starts_____________________________________________________________________________________ */
/* ___________________________________________________________________________________________________________ */
/* __________________________________________________________________________________________________________ */


/* 
oooooooooooo   .oooooo.     .oooooo.   ooooooooooooo oooooooooooo ooooooooo.  
`888'     `8  d8P'  `Y8b   d8P'  `Y8b  8'   888   `8 `888'     `8 `888   `Y88.
 888         888      888 888      888      888       888          888   .d88'
 888oooo8    888      888 888      888      888       888oooo8     888ooo88P' 
 888    "    888      888 888      888      888       888    "     888`88b.   
 888         `88b    d88' `88b    d88'      888       888       o  888  `88b. 
o888o         `Y8bood8P'   `Y8bood8P'      o888o     o888ooooood8 o888o  o888o
*/

footer {
    background-color: var(--main-footer-bg-color);
    min-height: 400px;
    padding: 50px;
}

.footer-flex-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-flex-container__left-div {
    height: 100%;
}

.footer-flex-container__right-div {
    width: auto;
    height: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 10px;
}

.footer__body-text {
    padding: 5px 0px 0px 0px;
    color: var(--main-footer-txt-color);
}

.footer__body-text--right-align {
    text-align: right;
}

.contact_form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}



.contact-form__label {
    display: block;
    color: white;
    margin-top: 10px;
}

.contact-form__label--active {
    color: #ff9800;
}

.contact-form__input {
    width: 50%;
    box-sizing: border-box;
    border: #ffffff00 3px solid;
}

.contact-form__textarea {
    width: 100%;
    resize: none;
    border: #ffffff00 3px solid;
}


.contact-form__input:focus,
.contact-form__textarea:focus {
    border: #ff9800 3px solid;
}

.contact-form__button {
    margin-top: 10px;
    height: 30px;
    border-radius: 10px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    border: 4px #ffffff00 solid;
    cursor: pointer;
}

.contact-form__button--send {
    border: 3px #ff9800 solid;

}

.contact-form__button--send:hover,
.contact-form__button--send:focus {
    background-color: #ff9800;
    color: #fffffa;
}


.contact-form__button--clear:hover,
.contact-form__button--clear:focus {
    background-color: #b3001b;
    color: #fffffa;
}

@media (max-width:550px) {
    .contact-form__input {
        width: 100%;
    }
}

#contact {
    font-size: 30px;
}

@media (max-width:550px) {
    #contact {
        font-size: 25px;
    }
}

.contact_form_text-area-div,
.submit_button {
    padding: 5px;
}

.footer-flex-container__right-div_wrapper {
    min-width: 200px;
}

.linkedin {
    margin-top: 30px;
}

.legal {
    margin-left: 20px;
}


.error {
    color: var(--main-txt-color);
}